.row
  .col-sm-12
    .panel.panel-info
      .panel-heading
        .panel-title
          Clients
      .panel-body
        - unless @clients.empty?
          - @clients.each do |client|
            = client.inspect
        - else
          No se encontraron clientes
