.row
  .col-sm-12
    .panel.panel-info
      .panel-heading
        .panel-title
          Clients
      .panel-body
        - unless @clients.empty?
          .row
            .col-sm-12
              %table.table.table-striped.table-hover
                %tr
                  %th Nombre
                  %th Email
                - @clients.each do |client|
                  %tr
                    %td
                      = client.name
                      = client.surname
                    %td= client.email
        - else
          No se encontraron clientes
