.row.message
  .col-sm-12
    = form_for resource, as: resource_name, url: password_path(resource_name), autocomplete: 'off', class: 'form-horizontal' do |f|
      .row
        .col-sm-12
          %p.alert.alert-warning Ingresa tu correo para que podamos enviarte las instrucciones para recuperar tu cuenta

      .form-group.has_info.label-floating
        = f.label :email, "Email", class: "control-label"
        = f.email_field :email, class: 'form-control'
        %span.material-input

      .row
        .col-sm-12
          %button.btn.btn-info.btn-raised.btn-block{ type: 'submit' }
            %i.fa.fa-check

%br

.row
  .col-sm-12
    .clearfix
      .pull-right
        %small
          = link_to "Iniciar Sesión", new_session_path(resource_name)
