.recommended-destinations
  .row
    .col-sm-12
      %h2.title
        Recommended Destinations
  .row
    .col-sm-12
      .row
        .col-sm-2
          %a{ href: "/hotels?destination=MX-CUN" }
            %img.picture{ src: asset_path("cancun.png") }
            %p.name Cancun
        .col-sm-2
          %a{ href: "/hotels?destination=MX-ACA" }
            %img.picture{ src: asset_path("acapulco.png") }
            %p.name Acapulco
        .col-sm-2
          %a{ href: "/hotels?destination=MX-PVR" }
            %img.picture{ src: asset_path("vallarta.png") }
            %p.name Puerto Vallarta
        .col-sm-2
          %a{ href: "/hotels?destination=MX-PCM" }
            %img.picture{ src: asset_path("playa.png") }
            %p.name Playa del Carmen
        .col-sm-2
          %a{ href: "/hotels?destination=MX-IXT" }
            %img.picture{ src: asset_path("ixtapa.png") }
            %p.name Ixtapa Zihuatanejo
        .col-sm-2
          %a{ href: "/hotels?destination=MX-MDF" }
            %img.picture{ src: asset_path("ciudad_mexico.png") }
            %p.name Ciudad de Mexico

.hotels-by-board
  .row
    .col-sm-12
      %h2.title
        Available Boards
  .row
    - grouped_boards = group_items(@boards['boards'])
    - grouped_boards.each do |grouped_board|
      .col-sm-4
        %ul.boards
          - grouped_board.each do |board|
            - if board.has_key? "description"
              %li.board
                %a{ href: '#' }
                  = board['description']['content']
