%p.text-center{ style: 'font-size: 159px;' }
  404

.row
  .col-sm-6.col-sm-offset-3
    %p{ style: 'margin-bottom: 100px;' }
      La página que solicitaste no existe. Si deseas ir a la página principal, puedes hacerlo dando clic
      %a{ href: '/' }
        aquí.
