.reservation-error
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-body
          %h2.text-center.text-danger.title
            No pudimos generar la reservación

          %p
            Encontramos un problema y no pudimos generar la reservación.
          %p
            Puedes comunicarte con nosotros o esperar a que un ejecutivo se ponga en contacto al número o correo electrónico que nos proporcionaste.
          %p
            Si tienes alguna duda o comentario, siempre puedes comunicarte a nuestros teléfonos o formatos de contacto, donde con gusto te atenderemos.
