.reservation-success
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-body
          %h2.text-center.text-success.title
            Reservación generada con éxito!

          %p
            Muchas gracias por elegirnos para tu viaje. Desde este momento ya puedes comenzar a relajarte, nosotros nos encargaremos de que todo salga a la perfección.
          %p
            Hemos enviado un correo a tu dirección de correo electrónico, con todos los detalles de tu reservación.
          %p
            Si tienes alguna duda o comentario, siempre puedes comunicarte a nuestros teléfonos o formatos de contacto, donde con gusto te atenderemos.
