body {
  color: $text;
  font-weight: 200;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 200;
  margin-bottom: 12px;
}

h1 {
  color: $belize_hole;
  font-size: 28px;
}

h2 {
  color: $peter_river;
  font-size: 21px;
}

h3 {
  font-size: 16px;
  color: $peter_river;
}

span.star-rating {
  background-image: image-url('star.png');
  display: inline-block;
  width: 23px;
  font-size: 18px;
}

span.star-rating.star-2EST {
  width: 46px;
}

span.star-rating.star-3EST {
  width: 69px;
}

span.star-rating.star-4EST {
  width: 92px;
}

span.star-rating.star-5EST {
  width: 115px;
}

.form-control.error {
  border: 1px solid $pome_granate;
}

.text-success
{
  color: $action;
}

.header
{
  margin-bottom: 28px;
  .btn-group
  {
    font-size: 12px;
    .btn-link
    {
      color: $concrete;
      font-weight: 200;
      border-right: 1px solid $clouds;
      padding: 12px 0;
    }
    .btn-link:last-child
    {
      border-right: none;
    }
  }
  .first-row
  {
    border-bottom: 1px solid $clouds;
  }
  .call-us
  {
    background: $clouds;
    span
    {
      font-size: 12px;
    }
    .number
    {
      font-weight: bold;
      color: $wet_asphalt;
    }
  }
  .search-box-container
  {
    background: $belize_hole;
    // margin-top: 119px;
    // margin-bottom: 119px;
    padding: 21px;
    border-radius: 0 0 4px 4px;
  }
  .number-of-nights
  {
    text-align: right;
  }
  form
  {
    label
    {
      font-weight: 200;
      color: $clouds;
    }
  }
}

.recommended-destinations
{
  &:first-child
  {
    margin-top: 89px;
  }
  margin-bottom: 28px;
  .title
  {
    color: $belize_hole;
  }
  .picture
  {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    height: 105px;
    // @include box-shadow(#444 0px 1px 2px);
  }
  .name
  {
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 16px;
    color: $text;
  }
}

.hotels-by-board
{
  margin-bottom: 89px;
  .title
  {
    color: $belize_hole;
  }
  .boards
  {
    list-style-type: none;
    padding-left: 0;
    .board
    {
      font-size: 16px;
      font-weight: 200;
      a
      {
        color: $text;
      }
    }
  }
}

.specific-search-form
{
  text-align: center;
  margin-bottom: 27px;
  select
  {
    text-align: right;
    display: block;
    width: 100%;
  }
}

.hotel-index
{
  margin-bottom: 12px;
  .image-container
  {
    height: 120px;
    display: block;
    img
    {
      width: 100%;
      height: 100%;
    }
  }
  .price
  {
    color: $peter_river;
    text-align: center;
  }
}

.hotel-show
{
  .links
  {
    margin-bottom: 16px;
  }
  .images
  {
    margin-bottom: 37px;
    .item
    {
      height: 400px;
      .image
      {
        height: 100%;
      }
    }
  }
  .about
  {
    margin-bottom: 37px;
    .title
    {
      margin-bottom: 12px;
    }
  }
  .rooms
  {
    margin-bottom: 37px;
    .title
    {
      margin-bottom: 12px;
    }
    .room
    {
      margin-bottom: 50px;
      .name
      {
      }
      .image-container
      {
        height: 120px;
        display: block;
        margin-bottom: 12px;
        img
        {
          width: 100%;
          height: 100%;
        }
      }
      .facilities
      {
        font-size: 12px;
        .facility
        {
          .fee
          {
            font-weight: bold;
            color: $orange;
          }
        }
      }
      .rate
      {
        padding: 12px;
        .board-name
        {
        }
        .offer
        {
          font-size: 12px;
          color: $action;
        }
        .cancellation
        {
          font-size: 12px;
          color: $pome_granate;
        }
        .comparison
        {
          text-align: center;
          .original
          {
            color: gray;
            text-decoration: line-through;
          }
          .new
          {
            color: $action;
          }
        }
        .price
        {
          text-align: right;
          color: $peter_river;
          font-size: 21px;
        }
        &:nth-child(even)
        {
          background: $clouds;
        }
      }
    }
  }
  .facilities
  {
    font-size: 12px;
    margin-bottom: 37px;
    .title
    {
      margin-bottom: 12px;
    }
  }
}

.new-reservation
{
  .holder
  {
    margin-bottom: 27px;
  }
  .paxes
  {
    margin-bottom: 27px;
  }
  .payment
  {
  }
  .total-net
  {
    font-weight: normal;
  }
  label
  {
    font-weight: 200;
  }
  dt
  {
    font-weight: normal;
  }
  th
  {
    font-weight: normal;
  }
  .reservation-details
  {
    margin-bottom: 0;
  }
  .cancellation-policies
  {
    font-size: 12px;
  }
}

.reservation-success, .reservation-error
{
  margin: 50px 0;
  .title
  {
    margin: 21px 0 28px;
  }
}

.footer
{
  color: white;
  background: $belize_hole;
  padding: 50px 0;
  .copyright
  {
    font-weight: normal;
    margin: 28px 0 0;
  }
  a
  {
    color: white;
  }
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 50px auto;
}

.loader
{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 999;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
